{% extends 'admin/base.html' %}

{% block title %} EDITAR TIPO DE LICENCIA {% endblock %}

{% block content %}
<h1>Editar tipo de licencia</h1>

<form action="{{ url_for('tipo_licencia.edit', id=tipo.id) }}" method="POST">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{ tipo.nombre }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" name="descripcion" rows="3">{{ tipo.descripcion }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar tipo de licencia</button>
</form>
{% endblock %}
