{% extends 'admin/base.html' %}

{% block title %} EDITAR CARGO {% endblock %}

{% block content %}
<h1>Editar cargo</h1>

<form action="{{ url_for('cargo.edit', id=cargo.id) }}" method="POST">  <!-- CAMBIADO -->
    <div class="mb-3">
        <label class="form-label">Nombre del cargo</label>
        <input type="text" class="form-control" name="cargo" value="{{ cargo.cargo }}" required>  <!-- CAMBIADO -->
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" name="descripcion" rows="3">{{ cargo.descripcion }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar cargo</button>
</form>
{% endblock %}
